@charset "UFT-8";

/* typical Devace brackpoints 
--------------------------------
pequenas telas: até 600px
Celular: de 600px até 768px
Tablet:768px até 992px
Descktop:922px até 1200px
Tv: 1200px 
*/

/*
    PALETAS DE CORES
   AZUL : #0EA6BD
   VEDE : #8ACCA6
 */

* {
    margin: 0px; 
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
   

    
}

html,
body {
    background: #8ACCA6;
    
}

/* logo */
p#logo-login {
    margin-bottom: 50px;
}



/* text de bem vindo  */
main>.text-primario {
    width: 100vw;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;

}

main>.text-primario>h1#text-bem-vindo {
    color: white;
    padding-bottom: 3px;
}

main>.text-primario>p#text-subtitulo {
    color: white;
}

/*Forms */

form>.Ie-mail {
    display: flex;

    background-color: #0EA6BD;
    margin-top: 15px;
    border-radius: 8px;
    width: 70vw;

    box-shadow: 2px 2px 8px gray;
}


form>.Ie-mail>label {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

form>.Ie-mail>input {
    width: 100%;
    border: 1px solid #0EA6BD;

}

form>.Isenha-login {
    display: flex;

    background-color: #0EA6BD;
    margin-top: 15px;
    border-radius: 8px;

    box-shadow: 2px 2px 8px gray;

}

form>.Isenha-login>label {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

form>.Isenha-login>input {
    width: 100%;
    border: 1px solid #0EA6BD;

}

input#Ientra-login {
    margin-top: 10px;
    width: 70vw;
    border-radius: 8px;
    color: white;
    background: #00A698;
    border: 1px solid white;
    height: 30px;


}

input#Ientra-login {
    cursor: pointer;
}

p#recuperar-login>a {
    text-decoration: none;
}

p#recuperar-login {
    margin-top: 10px;
    margin-bottom: 40px;

}

p#recuperar-login>a {
    color: white;
    transition: 540ms;
}

p#recuperar-login>a:hover {
    color: red
}

/* segunda part  */
.cadrastro {
    background: white;
    width: 90vw;
    height: 350px;

    margin-top: 50px;
    text-align: center;
    padding: 20px;
    margin-left:5px ;
   
    margin:auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 12px;
    
}
.cadrastro input {
    background-color:#B9B3B3;
}

/* forms */
.cadrastro>h1 {
    color: #045205;
    font-size: 30px;
    font-weight: bold;
}



form>.Iname-cadrastro {
    display: flex;

    background-color: #0EA6BD;
    margin-top: 50px;
    border-radius: 8px;
    width: 70vw;
    box-shadow: 2px 2px 8px gray;
}

form>.Iname-cadrastro>label {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

form>.Iname-cadrastro>input {
    width: 100%;
    border: 1px solid #0EA6BD;
}

form>.Ie-mail-cadrastro {
    display: flex;

    background-color: #0EA6BD;
    margin-top: 15px;
    border-radius: 8px;
    width: 100%;

    box-shadow: 2px 2px 8px gray;
}

form>.Ie-mail-cadrastro>label {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

form>.Ie-mail-cadrastro>input {
    width: 100%;
    border: 1px solid #0EA6BD;
}


form>.Isenha-cadrastro {
    display: flex;

    background-color: #0EA6BD;
    margin-top: 15px;
    border-radius: 8px;
    width: 100%;


    box-shadow: 2px 2px 8px gray;
}


form>.Isenha-cadrastro>label {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

form>.Isenha-cadrastro>input {
    width: 100%;
    border: 1px solid #0EA6BD;
}

#Ientra-cadrastro {
    margin-top: 10px;
    width: 70vw;
    border-radius: 8px;
    color: white;
    background: #00A698;
    border: 1px solid white;
    height: 30px;

}


input#Ientra-login {
    cursor: pointer;
}

@media (min-width:992px) {

    html,
    body {
        background: #C3E4D3;
        overflow-y:none;
        
    }

    main {

        width: 90vw;
        height: 500px;

        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: white;

        margin-top: 120px;

        border-radius: 12px;
    }

    main>.text-primario {
        width: 30vw;
        height: 500px;

        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;


        border-radius: 12px;

        margin-top: 0px;

        background-color: #8ACCA6;
     
    }

    form>.Ie-mail {
        background-color: #0EA6BD;

        border-radius: 8px;
        width: 90%;
      
        margin-top: 40px;

        margin-left: 15px;
    }

    form>.Isenha-login {
        background-color: #0EA6BD;

        border-radius: 8px;
        width: 90%;
     
        margin-left: 15px;
    }

    input#Ientra-login {
        width: 90%;
        height: 30px;

        border-radius: 8px;
    }
    .cadrastro {  
        width: 70vw;
        height: 500px;

        margin-top: 0px;
        text-align: center;
        padding: 20px;

        border-radius: 0px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        box-shadow: none;
    }

    .organizar {
        width: 100%;
    }

    form>.Iname-cadrastro {
        display: flex;

        background-color: #0EA6BD;
        margin-top: 50px;
        border-radius: 8px;
        width: 100%;
        box-shadow: 2px 2px 8px gray;
    }

    #Ientra-cadrastro {
        width: 100%;
    }
}

