@charset "UFT-8";


/* tabelas de cores 
 verde: #8ACCA6

*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;


}





html,
body {
    background: #8ACCA6;
}

/* text de bem vindo  */
main>.text-primario {
    width: 100vw;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;

}


main>.text-primario>h1#text-bem-vindo {
    color: white;
    padding-bottom: 3px;
}

main>.text-primario>p#text-subtitulo {
    color: white;
}

/*Forms */

form>.Igmail-login {
    display: flex;

    background-color: #0EA6BD;
    margin-top: 15px;
    border-radius: 8px;
    width: 70vw;

    box-shadow: 2px 2px 8px gray;
}


form>.Igmail-login>label {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}



form>.Igmail-login>input {
    width: 100%;
    border: 1px solid #0EA6BD;

}


form>.Isenha-login {
    display: flex;

    background-color: #0EA6BD;
    margin-top: 15px;
    border-radius: 8px;

    box-shadow: 2px 2px 8px gray;

}

form>.Isenha-login>label {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

form>.Isenha-login>input {
    width: 100%;
    border: 1px solid #0EA6BD;

}

input#Ientra-login {
    width: 70vw;
    height: 30px;

    border-radius: 8px;
    border: 1px solid white;

    color: white;
    background: #00A698;
    margin-top: 10px;
}

input#Ientra-login:hover {
    cursor: pointer;
}


p#recuperar {
    margin-top: 10px;
}

p#recuperar>a {
    color: white;
    text-decoration: none;

}

.cadrastro {
    background: white;
    width: 90vw;
    height: 400px;

    margin: auto;



    margin-top: 50px;
    text-align: center;
    padding: 20px;


    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

}


.cadrastro>h1 {
    color: #045205;
    font-size: 30px;
    font-weight: bold;
}



form>.Inome-cadrastro {
    display: flex;

    background-color: #0EA6BD;
    margin-top: 50px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 2px 2px 8px gray;
}


form>.Inome-cadrastro>label {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

form>.Inome-cadrastro>input {
    width: 100%;
    border: 1px solid #0EA6BD;
    background: #B9B3B3;
}

form>.Igmail-cadrastro {
    display: flex;

    background-color: #0EA6BD;
    margin-top: 15px;
    border-radius: 8px;
    width: 100%;

    box-shadow: 2px 2px 8px gray;
}

form>.Igmail-cadrastro>label {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;

}

form>.Igmail-cadrastro>input {
    width: 100%;
    border: 1px solid #0EA6BD;
    background: #B9B3B3;
}


form>.Isenha-cadrastro {
    display: flex;

    background-color: #0EA6BD;
    margin-top: 15px;
    border-radius: 8px;
    width: 100%;


    box-shadow: 2px 2px 8px gray;
}


form>.Isenha-cadrastro>label {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

form>.Isenha-cadrastro>input {
    width: 100%;
    border: 1px solid #0EA6BD;
    background: #B9B3B3;
}

#Ientra-cadrastro {
    width: 100%;
    height: 30px;

    border-radius: 8px;
    border: 1px solid white;

    color: white;
    background: #00A698;
    margin-top: 10px;


}


@media (min-width:992px) {

    html,
    body {
        background: #C3E4D3;
    }

    main {

        display: flex;
        justify-content: center;

        height: 500px;



        background-color: white;
        margin-top: 110px;
        align-items: center;
        border-radius: 12px;
    }

    main>.text-primario {
        width: 30vw;
        height: 500px;

        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;


        border-radius: 12px;

        margin-top: 0px;

        background-color: #8ACCA6;
        box-shadow: none;
    }


    form>.Igmail-login,
    form>.Isenha-login {
        width: 90%;
        margin-left: 20px;
    }




    input#Ientra-login {
        margin-top: 10px;
        width: 90%;
        border-radius: 8px;
        color: white;
        background: #00A698;
        border: 1px solid white;
        height: 30px;

    }

    .cadrastro {
        background: #B9B3B3;
        width: 70vw;
        height: 500px;



        margin-top: 0px;
        text-align: center;
        padding: 20px;


        border-radius: 0px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;



        box-shadow: none;

        background-color: white;
    }


    .organizar {
        width: 100%;
    }



    form>.Igmai-cadrastro {
        display: flex;

        background-color: #0EA6BD;
        margin-top: 15px;
        border-radius: 8px;
        width: 100%;

        box-shadow: 2px 2px 8px gray;
    }

    form>.Igmai-cadrastro>label {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
    }

    form>.Igmai-cadrastro>input {
        width: 100%;
        border: 1px solid #0EA6BD;
    }


    form>.Isenha2 {
        display: flex;

        background-color: #0EA6BD;
        margin-top: 15px;
        border-radius: 8px;
        width: 100%;


        box-shadow: 2px 2px 8px gray;
    }


    form>.Isenha2>label {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
    }

    form>.Isenha2>input {
        width: 100%;
        border: 1px solid #0EA6BD;
    }

}


