@charset "UTF-8"

* {
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
}
.container-general {
    margin-top: 80px;
    margin-bottom: 150px;
    display: flex;
    height: 820px;
    flex-direction: column 2;
    border: solid blue 2px;
    padding: 15px;
}


.menu-partner {
    display: flex;
    flex-direction: 2 column;
    flex-wrap: wrap;
    width: 20%;
    padding: 10px;
   
    border: solid blue 2px;
    
}

.menu-sup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #87AAAE;
    border: solid blue 2px;
    width: 80%;
   
}

.sup-item a {
    margin: 0 auto;
    background: #D9D9D9;
    margin: 15px
}

.img-parc {
    width: 80%;
    height: 80%;
    border-radius: 50% 50%;
    background: #D9D9D9;
    align-items: center;
}

.menu-inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #87AAAE;
    border: solid blue 2px;
    width: 80%;
    margin-top: 15px;
    padding: 10px;
}

.menu-inf span a{
    text-align: center;
    background: #D9D9D9;
    width: 95%;   
}

.menu-inf img {
    align-items: center;
    width: 30px;
    height: 40px;
    
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background: #D9D9D9;
  }
  
  .planos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background: #D9D9D9;
    
  }
  
  .chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background: #D9D9D9;
  }

.container-out {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 95%;
}

.container-panel-partner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    height: 50%;
    background: #87AAAE;
    border:solid blue 2px;
    margin: 0 auto;
   
}

.panel-itens1 {
    width: 98%;
    height: 10%;
    background: #39B55F;
    border:solid blue 2px;
    font-size: 20px;
    margin: 0 auto;
}


.panel-itens2 {
    width: 25%;
    height: 55%;
    border:solid blue 2px;
    background: #39B55F;
    margin: 0 auto;
    text-align: center;
}
.panel-itens3 {
    width: 25%;
    height: 55%;
    border:solid blue 2px;
    background: #39B55F;
    margin: 0 auto;
    text-align: center;
}

.panel-itens4 {
    width: 25%;
    height: 55%;
    border:solid blue 2px;
    background: #39B55F;
    margin: 0 auto;
    text-align: center;;
}

.container2 {
    width: 100%;
    display: flex;
    flex-direction: 4 column;
}



.bloc {
    width: 100%;
    height: 100%;
    border:solid blue 2px;
    margin: 30px;
}

.atend {
    width: 95%;
    height: 45%;
    border:solid red 2px;
    background: #87AAAE;
    margin: 0 auto;
}

.guia {
    width: 95%;
    height: 45%;
    border:solid red 2px;
    background: #87AAAE;
    margin: 0 auto;
}

.pront {
    width: 95%;
    height: 45%;
    border:solid red 2px;
    background: #87AAAE;
    margin: 0 auto;
}

.agend {
    width: 95%;
    height: 45%;
    border:solid red 2px;
    background: #87AAAE;
    margin: 0 auto;
}

.doc {
    width: 95%;
    height: 45%;
    border:solid red 2px;
    background: #87AAAE;
    margin: 0 auto;
}

.novid {
    width: 95%;
    height: 45%;
    border:solid red 2px;
    background: #87AAAE;
    margin: 0 auto;
}

.aval {
    width: 95%;
    height: 45%;
    border:solid red 2px;
    background: #87AAAE;
    margin: 0 auto;
}

.pub {
    width: 95%;
    height: 45%;
    border:solid red 2px;
    background: #87AAAE;
    margin: 0 auto;
}
.spn-img {
    width: 100%;
    text-align: center;
    background: #D9D9D9; 
}
  
h5 {
    font-size: 14px;
    text-align: center;
   
}

p {
   
    text-align: center;
}
button {
    width: 90%;
    font-size: 14px;
    font-weight: bolder;
    background: #D9D9D9; 
    
    
}