html{
    box-sizing:border-box
}
*,*:before,*:after{
    box-sizing:inherit
}

html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

body{
    margin:0
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
    display:block
}

summary{
    display:list-item
}

audio,canvas,progress,video{
    display:inline-block
}

progress{
    vertical-align:baseline
}

audio:not([controls]){
    display:none;height:0
}

[hidden],template{
    display:none
}

a{
    background-color:transparent
}

a:active,a:hover{
    outline-width:0
}

abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    text-decoration:underline dotted
}

b,strong{
    font-weight:bolder;
}

dfn{
    font-style:italic
}

mark{
    background:#ff0;
    color:#000
}

small{
    font-size:80%
}

sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}

sub{
    bottom:-0.25em
}

sup{
    top:-0.5em
}

figure{
    margin:1em 40px
}

img{
    border-style:none
}

code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}

hr{
    box-sizing:content-box;
    height:0;
    overflow:visible
}

button,input,select,textarea,optgroup{
    font:inherit;
    margin:0
}

optgroup{
    font-weight:bold
}

button,input{
    overflow:visible
}

button,select{
    text-transform:none
}

button,[type=button],[type=reset],[type=submit]{
    -webkit-appearance:button
}

button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{
    border-style:none;
    padding:0
}

button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{
    outline:1px dotted ButtonText
}

fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:.35em .625em .75em
}

legend{
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal
}

textarea{
    overflow:auto
}

[type=checkbox],[type=radio]{
    padding:0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
    height:auto
}

[type=search]{
    -webkit-appearance:textfield;
    outline-offset:-2px
}

[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}

::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit
}

/* End extract */
html,body{
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1.5
}

html{
    overflow-x:hidden
}

h1{
    font-size:36px
}

h2{
    font-size:30px
}

h3{
    font-size:24px
}

h4{
    font-size:20px
}

h5{
    font-size:18px
}

h6{
    font-size:16px
}

.consult-serif{
    font-family:serif
}

.consult-sans-serif{
    font-family:sans-serif
}

.consult-cursive{
    font-family:cursive
}

.consult-monospace{
    font-family:monospace
}

h1,h2,h3,h4,h5,h6{
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    margin:10px 0
}

.consult-wide{
    letter-spacing:4px
}

hr{
    border:0;
    border-top:1px solid #eee;
    margin:20px 0
}

.consult-image{
    max-width:100%;
    height:auto
}

.d-flex{
    display: flex;
}

img{
    vertical-align:middle
}

a{
    color:inherit
}

.consult-table,.consult-table-all{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table
}

.consult-table-all{
    border:1px solid #ccc
}

.consult-bordered tr,.consult-table-all tr{
    border-bottom:1px solid #ddd
}

.consult-striped tbody tr:nth-child(even){
    background-color:#f1f1f1
}

.consult-table-all tr:nth-child(odd){
    background-color:#fff
}

.consult-table-all tr:nth-child(even){
    background-color:#f1f1f1
}

.consult-hoverable tbody tr:hover,.consult-ul.consult-hoverable li:hover{
    background-color:#ccc
}

.consult-centered tr th,.consult-centered tr td{
    text-align:center
}

.consult-table td,.consult-table th,.consult-table-all td,.consult-table-all th{
    padding:8px 8px;
    display:table-cell;
    text-align:left;
    vertical-align:top
}

.consult-table th:first-child,.consult-table td:first-child,.consult-table-all th:first-child,.consult-table-all td:first-child{
    padding-left:16px
}


.consult-btn,.consult-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
}

.consult-btn:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.consult-btn,.consult-button{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.consult-disabled,.consult-btn:disabled,.consult-button:disabled{
    cursor:not-allowed;
    opacity:0.3
}

.consult-disabled *,:disabled *{
    pointer-events:none
}

.consult-btn.consult-disabled:hover,.consult-btn:disabled:hover{
    box-shadow:none
}

.consult-badge,.consult-tag{
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center
}

.consult-badge{
    border-radius:50%
}

.consult-ul{
    list-style-type:none;
    padding:0;
    margin:0
}

.consult-ul li{
    padding:8px 16px;
    border-bottom:1px solid #ddd
}

.consult-ul li:last-child{
    border-bottom:none
}

.consult-tooltip,.consult-display-container{
    position:relative
}

.consult-tooltip .consult-text{
    display:none
}

.consult-tooltip:hover .consult-text{
    display:inline-block
}

.consult-ripple:active{
    opacity:0.5
}

.consult-ripple{
    transition:opacity 0s
}

.consult-input{
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
}

.consult-input2{
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:50%
}

.consult-select{
    padding:9px 0;
    width:100%;
    border:none;
    border-bottom:1px solid #ccc
}

.consult-dropdown-click,.consult-dropdown-hover{
    position:relative;
    display:inline-block;
    cursor:pointer
}

.consult-dropdown-hover:hover .consult-dropdown-content{
    display:block
}

.consult-dropdown-hover:first-child,.consult-dropdown-click:hover{
    background-color:#ccc;
    color:#000
}

.consult-dropdown-hover:hover > .consult-button:first-child,.consult-dropdown-click:hover > .consult-button:first-child{
    background-color:#ccc;
    color:#000
}

.consult-dropdown-content{
    cursor:auto;
    color:#000;
    background-color:#fff;
    display:none;
    position:absolute;
    min-width:160px;
    margin:0;
    padding:0;
    z-index:1
}

.consult-check,.consult-radio{
    width:24px;
    height:24px;
    position:relative;
    top:6px
}

.consult-sidebar{
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto
}

.consult-bar-block .consult-dropdown-hover,.consult-bar-block .consult-dropdown-click{
    width:100%
}

.consult-bar-block .consult-dropdown-hover .consult-dropdown-content,.consult-bar-block .consult-dropdown-click .consult-dropdown-content{
    min-width:100%
}

.consult-bar-block .consult-dropdown-hover .consult-button,.consult-bar-block .consult-dropdown-click .consult-button{
    width:100%;
    text-align:left;
    padding:8px 16px
}

.consult-main,#main{
    transition:margin-left .4s
}

.consult-modal{
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}

.consult-modal-content{
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    outline:0;
    width:600px
}

.consult-bar{
    width:100%;
    overflow:hidden
}

.consult-center .consult-bar{
    display:inline-block;
    width:auto
}

.consult-bar .consult-bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}

.consult-bar .consult-dropdown-hover,.consult-bar .consult-dropdown-click{
    position:static;
    float:left
}

.consult-bar .consult-button{
    white-space:normal
}

.consult-bar-block .consult-bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
}

.consult-bar-block.consult-center .consult-bar-item{
    text-align:center
}

.consult-block{
    display:block;
    width:100%
}

.consult-responsive{
    display:block;
    overflow-x:auto
}

.consult-container:after,.consult-container:before,.consult-panel:after,.consult-panel:before,.consult-row:after,.consult-row:before,.consult-row-padding:after,.consult-row-padding:before,.consult-cell-row:before,.consult-cell-row:after,.consult-clear:after,.consult-clear:before,.consult-bar:before,.consult-bar:after{
    content:"";display:table;clear:both
}

.consult-col,.consult-half,.consult-third,.consult-twothird,.consult-threequarter,.consult-quarter{
    float:left;
    width:100%
}

.consult-col.s1{
    width:8.33333%
}

.consult-col.s2{
    width:16.66666%
}

.consult-col.s3{
    width:24.99999%
}

.consult-col.s4{
    width:33.33333%
}

.consult-col.s5{
    width:41.66666%
}

.consult-col.s6{
    width:49.99999%
}

.consult-col.s7{
    width:58.33333%
}

.consult-col.s8{
    width:66.66666%
}

.consult-col.s9{
    width:74.99999%
}

.consult-col.s10{
    width:83.33333%
}

.consult-col.s11{
    width:91.66666%
}

.consult-col.s12{
    width:99.99999%
}

@media (min-width:601px){
    .consult-col.m1{width:8.33333%
    }
    .consult-col.m2{
        width:16.66666%
    }
    .consult-col.m3,.consult-quarter{
        width:24.99999%
    }
    .consult-col.m4,.consult-third{
        width:33.33333%
    }

    .consult-col.m5{
        width:41.66666%
    }

    .consult-col.m6,.consult-half{
        width:49.99999%
    }

    .consult-col.m7{
        width:58.33333%
    }

    .consult-col.m8,.consult-twothird{
        width:66.66666%
    }

    .consult-col.m9,.consult-threequarter{
        width:74.99999%
    }

    .consult-col.m10{
        width:83.33333%
    }

    .consult-col.m11{
        width:91.66666%
    }

    .consult-col.m12{
        width:99.99999%
    }
}

@media (min-width:993px){
    .consult-col.l1{
        width:8.33333%
    }

    .consult-col.l2{
        width:16.66666%
    }
    
    .consult-col.l3{
        width:24.99999%
    }
    
    .consult-col.l4{
        width:33.33333%
    }
    
    .consult-col.l5{
    width:41.66666%
    }

    .consult-col.l6{
        width:49.99999%
    }

    .consult-col.l7{
        width:58.33333%
    }

    .consult-col.l8{
        width:66.66666%
    }

    .consult-col.l9{
        width:74.99999%
    }

    .consult-col.l10{
        width:83.33333%
    }

    .consult-col.l11{
        width:91.66666%
    }

    .consult-col.l12{
        width:99.99999%
    }
}

.consult-rest{
    overflow:hidden
}

.consult-stretch{
    margin-left:-16px;
    margin-right:-16px
}

.consult-content,.consult-auto{
    margin-left:auto;
    margin-right:auto
}

.consult-content{
    max-width:980px
}

.consult-auto{
    max-width:1140px
}

.consult-cell-row{
    display:table;
    width:100%
}

.consult-cell{
    display:table-cell
}

.consult-cell-top{
    vertical-align:top
}

.consult-cell-middle{
    vertical-align:middle
}

.consult-cell-bottom{
    vertical-align:bottom
}

.consult-hide{
    display:none!important
}

.consult-show-block,.consult-show{
    display:block!important
}

.consult-show-inline-block{
    display:inline-block!important
}

@media (max-width:1205px){
    .consult-auto{
        max-width:95%
    }
}

@media (max-width:600px){
    .consult-col{
        margin-top: 10px;
    }

    .consult-modal-content{
        margin:0 10px;
        width:auto!important
    }
    .consult-modal{
        padding-top:30px
    }

    .consult-dropdown-hover.consult-mobile .consult-dropdown-content,.consult-dropdown-click.consult-mobile .consult-dropdown-content{
    position:relative
    }	

    .consult-hide-small{
        display:none!important
    }
    
    .consult-mobile{
        display:block;
        width:100%!important
    }
    
    .consult-bar-item.consult-mobile,.consult-dropdown-hover.consult-mobile,.consult-dropdown-click.consult-mobile{
        text-align:center
    }

    .consult-dropdown-hover.consult-mobile,.consult-dropdown-hover.consult-mobile .consult-btn,.consult-dropdown-hover.consult-mobile .consult-button,.consult-dropdown-click.consult-mobile,.consult-dropdown-click.consult-mobile .consult-btn,.consult-dropdown-click.consult-mobile .consult-button{
        width:100%
    }
}

@media (max-width:768px){

    #logo{width: 20px;
        }
    
    
    .consult-modal-content{
        width:500px
    }
    .consult-modal{
        padding-top:50px
    }
}

@media (min-width:993px){
    .consult-modal-content{
        width:900px
    }
    .consult-hide-large{
        display:none!important
    }
    .consult-sidebar.consult-collapse{
        display:block!important
    }
    
}

@media (max-width:992px) and (min-width:601px){
    .consult-hide-medium{
        display:none!important
    }
}

@media (max-width:992px){
    .consult-sidebar.consult-collapse{
        display:none
    }
    .consult-main{
        margin-left:0!important;
        margin-right:0!important
    }
    .consult-auto{
        max-width:100%
    }
}

.consult-top,.consult-bottom{
    position:fixed;
    width:100%;
    z-index:1
}
.consult-top{
    top:0
}
.consult-bottom{
    bottom:0
}

.consult-overlay{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:2
}

.consult-display-topleft{
    position:absolute;
    left:0;
    top:0
}

.consult-display-topright{
    position:absolute;
    right:0;
    top:0
}

.consult-display-bottomleft{
    position:absolute;
    left:0;
    bottom:0
}

.consult-display-bottomright{
    position:absolute;
    right:0;
    bottom:0
}

.consult-display-middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}

.consult-display-left{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}

.consult-display-right{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}

.consult-display-topmiddle{
    position:absolute;
    left:50%;
    top:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%)
}

.consult-display-bottommiddle{
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%)
}

.consult-display-container:hover .consult-display-hover{
    display:block
}

.consult-display-container:hover span.consult-display-hover{
    display:inline-block
}

.consult-display-hover{
    display:none
}

.consult-display-position{
    position:absolute
}

.consult-circle{
    border-radius:50%
}

.consult-round-small{
    border-radius:2px
}

.consult-round,.consult-round-medium{
    border-radius:4px
}

.consult-round-large{
    border-radius:8px
}

.consult-round-xlarge{
    border-radius:20px
}

.consult-round-xxlarge{
    border-radius:32px
}

.consult-row-padding,.consult-row-padding>.consult-half,.consult-row-padding>.consult-third,.consult-row-padding>.consult-twothird,.consult-row-padding>.consult-threequarter,.consult-row-padding>.consult-quarter,.consult-row-padding>.consult-col{
    padding:0 8px
}

.consult-container,.consult-panel{
    padding:0.01em 16px
}

.consult-panel{
    margin-top:16px;
    margin-bottom:16px
}

.consult-code,.consult-codespan{
    font-family:Consolas,"courier new";
    font-size:16px
}

.consult-code{
    width:auto;
    background-color:#fff;
    padding:8px 12px;
    border-left:4px solid #4CAF50;
    word-wrap:break-word
}

.consult-codespan{
    color:crimson;
    background-color:#f1f1f1;
    padding-left:4px;
    padding-right:4px;
    font-size:110%
}

.consult-card,.consult-card-2{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.consult-card-4,.consult-hover-shadow:hover{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.consult-spin{
    animation:consult-spin 2s infinite linear
}

@keyframes consult-spin{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(359deg)
    }
}

.consult-animate-fading{
    animation:fading 10s infinite
}

@keyframes fading{
    0%
    {
        opacity:0
    }
    50%
    {
        opacity:1
    }
    100%
    {
        opacity:0
    }
}

.consult-animate-opacity{
    animation:opac 0.8s
}

@keyframes opac{
    from
    {
        opacity:0
    }
     to
     {
        opacity:1
    }
}

.consult-animate-top{
    position:relative;
    animation:animatetop 0.4s
}

@keyframes animatetop{
    from
    {
        top:-300px;
        opacity:0
    }
     to
     {
        top:0;
        opacity:1
    }
}

.consult-animate-left{
    position:relative;
    animation:animateleft 0.4s
}
@keyframes animateleft{
    from
    {
        left:-300px;
        opacity:0
    }
     to
     {
        left:0;
        opacity:1
    }
}

.consult-animate-right
{
    position:relative;
    animation:animateright 0.4s
}
@keyframes animateright{
    from
    {
        right:-300px;
        opacity:0
    }
     to
     {
        right:0;
        opacity:1
    }
}

.consult-animate-bottom{
    position:relative;
    animation:animatebottom 0.4s
}
@keyframes animatebottom{
    from
    {
        bottom:-300px;
        opacity:0
    }
     to
     {
        bottom:0;
        opacity:1
    }
}

.consult-animate-zoom {
    animation:animatezoom 0.6s
}
@keyframes animatezoom{
    from
    {
        transform:scale(0)
    }
     to
     {
        transform:scale(1)
    }
}

.consult-animate-input{
    transition:width 0.4s ease-in-out
}
.consult-animate-input:focus{
    width:100% !important
}

.consult-opacity,.consult-hover-opacity:hover{
    opacity:0.60
}

.consult-opacity-off,.consult-hover-opacity-off:hover{
    opacity:1
}

.consult-opacity-max{
    opacity:0.25
}

.consult-opacity-min{
    opacity:0.75
}

.consult-greyscale-max,.consult-grayscale-max,.consult-hover-greyscale:hover,.consult-hover-grayscale:hover{
    filter:grayscale(100%)
}

.consult-greyscale,.consult-grayscale{
    filter:grayscale(75%)
}

.consult-greyscale-min,.consult-grayscale-min{
    filter:grayscale(50%)
}

.consult-sepia{
    filter:sepia(75%)
}

.consult-sepia-max,.consult-hover-sepia:hover{
    filter:sepia(100%)
}

.consult-sepia-min{
    filter:sepia(50%)
}

.consult-tiny{
    font-size:10px!important
}

.consult-small{
    font-size:12px!important
}

.consult-medium{
    font-size:14px!important
}

.consult-large{
    font-size:18px!important
}

.consult-xlarge{
    font-size:24px!important
}

.consult-xxlarge{
    font-size:36px!important
}

.consult-xxxlarge{
    font-size:48px!important
}

.consult-jumbo {
    font-size: 45px!important;
    line-height: 1.5;
}

.consult-left-align{
    text-align:left!important
}

.consult-right-align{
    text-align:right!important
}

.consult-justify{
    text-align:justify!important
}

.consult-center{
    text-align:center!important
}

.consult-border-0{
    border:0!important
}

.consult-border{
    border:1px solid #ccc!important
}

.consult-border-top{
    border-top:1px solid #ccc!important
}

.consult-border-bottom{
    border-bottom:1px solid #ccc!important
}

.consult-border-left{
    border-left:1px solid #ccc!important
}

.consult-border-right{
    border-right:1px solid #ccc!important
}

.consult-topbar{
    border-top:6px solid #ccc!important
}

.consult-bottombar{
    border-bottom:6px solid #ccc!important
}

.consult-leftbar{
    border-left:6px solid #ccc!important
}

.consult-rightbar{
    border-right:6px solid #ccc!important
}

.consult-section,.consult-code{
    margin-top:16px!important;
    margin-bottom:16px!important
}

.consult-margin{
    margin:16px!important
}

.consult-margin-top{
    margin-top:16px!important
}

.consult-margin-bottom{
    margin-bottom:16px!important
}

.consult-margin-left{
    margin-left:16px!important
}

.consult-margin-right{
    margin-right:16px!important
}

.consult-padding-small{
    padding:4px 8px!important
}

.consult-padding{
    padding:8px 16px!important
}

.consult-padding-large{
    padding:12px 24px!important
}

.consult-padding-16{
    padding-top:16px!important;
    padding-bottom:16px!important
}

.consult-padding-24{
    padding-top:24px!important;
    padding-bottom:24px!important
}

.consult-padding-32{
    padding-top:32px!important;
    padding-bottom:32px!important
}

.consult-padding-48{
    padding-top:48px!important;
    padding-bottom:48px!important
}

.consult-padding-64{
    padding-top:64px!important;
    padding-bottom:64px!important
}

.consult-padding-top-64{
    padding-top:64px!important
}

.consult-padding-top-48{
    padding-top:48px!important
}

.consult-padding-top-32{
    padding-top:32px!important
}

.consult-padding-top-24{
    padding-top:24px!important
}

.consult-left{
    float:left!important
}

.consult-right{
    float:right!important
}

.consult-button:hover{
    color: #02505c!important;
    background-color: #D4E3DE!important;
}

.consult-transparent,.consult-hover-none:hover{
    background-color:transparent!important
}

.consult-hover-none:hover{
    box-shadow:none!important
}

.consult-quarter{
    font-variant-numeric: lining-nums;
}

.text-hg{
    min-height: 297px !important;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

/* Colors */
.consult-amber,.consult-hover-amber:hover{
    color:#000!important;
    background-color:#ffc107!important
}

.consult-aqua,.consult-hover-aqua:hover{
    color:#000!important;
    background-color:#00ffff!important
}

.consult-blue,.consult-hover-blue:hover{
    color:#fff!important;
    background-color:#2196F3!important
}

.consult-light-blue,.consult-hover-light-blue:hover{
    color:#000!important;
    background-color:#87CEEB!important
}

.consult-brown,.consult-hover-brown:hover{
    color:#fff!important;
    background-color:#795548!important
}

.consult-cyan,.consult-hover-cyan:hover{
    color:#000!important;
    background-color:#00bcd4!important
}

.consult-blue-grey,.consult-hover-blue-grey:hover,.consult-blue-gray,.consult-hover-blue-gray:hover{
    color:#fff!important;
    background-color:#607d8b!important
}

.consult-green,.consult-hover-green:hover{
    color:#fff!important;
    background-color:#4CAF50!important
}

.consult-light-green,.consult-hover-light-green:hover{
    color:#000!important;
    background-color:#8bc34a!important
}

.consult-indigo,.consult-hover-indigo:hover{
    color:#fff!important;
    background-color:#3f51b5!important
}

.consult-khaki,.consult-hover-khaki:hover{
    color:#000!important;
    background-color:#f0e68c!important
}

.consult-lime,.consult-hover-lime:hover{
    color:#000!important;
    background-color:#cddc39!important
}

.consult-orange,.consult-hover-orange:hover{
    color:#000!important;
    background-color:#ff9800!important
}

.consult-deep-orange,.consult-hover-deep-orange:hover{
    color:#fff!important;
    background-color:#ff5722!important
}

.consult-pink,.consult-hover-pink:hover{
    color:#fff!important;
    background-color:#e91e63!important
}

.consult-purple,.consult-hover-purple:hover{
    color:#fff!important;
    background-color:#9c27b0!important
}

.consult-deep-purple,.consult-hover-deep-purple:hover{
    color:#fff!important;
    background-color:#673ab7!important
}

.consult-red,.consult-hover-red:hover{
    color:#fff!important;
    background-color:#f44336!important
}

.consult-sand,.consult-hover-sand:hover{
    color:#000!important;
    background-color:#fdf5e6!important
}

.consult-teal,.consult-hover-teal:hover{
    color:#fff!important;
    background-color:#009688!important
}

.consult-yellow,.consult-hover-yellow:hover{
    color:#000!important;
    background-color:#ffeb3b!important
}

.consult-white,.consult-hover-white:hover{
    color: #02505C!important;
    background-color:#fff!important
}

.consult-blue-aqua-st,.consult-hover-blue-aqua-st:hover{
    color: #fff!important;
    background-color:#02505C!important
}

.consult-redes-blue-aqua,.consult-redes-blue-aqua:hover{
    color:#02505C!important;
}

.consult-verde-aqua, .consult-hover-verde-aqua:hover {
    color: #ffffff!important;
    background-color: #39B55F!important;
}

.consult-azul-aqua, .consult-hover-azul-aqua:hover {
    color: #ffffff!important;
    background-color: #00A698!important;
}

.consult-azul-aqua-lg, .consult-hover-azul-aqua-lg:hover {
    color: #ffffff!important;
    background-color: #D4EBE3!important;
}

.consult-azul-aqua-lg-input, .consult-hover-azul-aqua-lg-input:hover {
    color: #02505C!important;
    background-color: #D4EBE3!important;
}

.consult-azul-aqua-md, .consult-azul-aqua-md:hover{
    color: #ffffff!important;
    background-color:#87AAAE!important;
}

.consult-black,.consult-hover-black:hover{
    color:#fff!important;
    background-color:#000!important
}

.consult-verde, .consult-hover-verde:hover {
    color: #fff!important;
    background-color: #8acca6!important;
}

.consult-grey,.consult-hover-grey:hover,.consult-gray,.consult-hover-gray:hover{
    color:#000!important;
    background-color:#9e9e9e!important
}

.consult-light-grey,.consult-hover-light-grey:hover,.consult-light-gray,.consult-hover-light-gray:hover{
    color:#000!important;
    background-color:#f1f1f1!important
}

.consult-dark-grey,.consult-hover-dark-grey:hover,.consult-dark-gray,.consult-hover-dark-gray:hover{
    color:#fff!important;
    background-color:#616161!important
}

.consult-pale-red,.consult-hover-pale-red:hover{
    color:#000!important;
    background-color:#ffdddd!important
}

.consult-pale-green,.consult-hover-pale-green:hover{
    color:#000!important;
    background-color:#ddffdd!important
}

.consult-pale-yellow,.consult-hover-pale-yellow:hover{
    color:#000!important;
    background-color:#ffffcc!important
}

.consult-pale-blue,.consult-hover-pale-blue:hover{
    color:#000!important;
    background-color:#ddffff!important
}

.consult-text-amber,.consult-hover-text-amber:hover{
    color:#ffc107!important
}

.consult-text-aqua,.consult-hover-text-aqua:hover{
    color:#00ffff!important
}

.consult-text-blue,.consult-hover-text-blue:hover{
    color:#2196F3!important
}

.consult-text-light-blue,.consult-hover-text-light-blue:hover{
    color:#87CEEB!important
}

.consult-text-brown,.consult-hover-text-brown:hover{
    color:#795548!important
}

.consult-text-cyan,.consult-hover-text-cyan:hover{
    color:#00bcd4!important
}

.consult-text-blue-grey,.consult-hover-text-blue-grey:hover,.consult-text-blue-gray,.consult-hover-text-blue-gray:hover{
    color:#607d8b!important
}

.consult-text-green,.consult-hover-text-green:hover{
    color:#4CAF50!important
}

.consult-text-light-green,.consult-hover-text-light-green:hover{
    color:#8bc34a!important
}

.consult-text-indigo,.consult-hover-text-indigo:hover{
    color:#3f51b5!important
}

.consult-text-khaki,.consult-hover-text-khaki:hover{
    color:#b4aa50!important
}

.consult-text-lime,.consult-hover-text-lime:hover{
    color:#cddc39!important
}

.consult-text-orange,.consult-hover-text-orange:hover{
    color:#ff9800!important
}

.consult-text-deep-orange,.consult-hover-text-deep-orange:hover{
    color:#ff5722!important
}

.consult-text-pink,.consult-hover-text-pink:hover{
    color:#e91e63!important
}

.consult-text-purple,.consult-hover-text-purple:hover{
    color:#9c27b0!important
}

.consult-text-deep-purple,.consult-hover-text-deep-purple:hover{
    color:#673ab7!important
}

.consult-text-red,.consult-hover-text-red:hover{
    color:#f44336!important
}

.consult-text-sand,.consult-hover-text-sand:hover{
    color:#fdf5e6!important
}

.consult-text-teal,.consult-hover-text-teal:hover{
    color:#009688!important
}

.consult-text-yellow,.consult-hover-text-yellow:hover{
    color:#d2be0e!important
}

.consult-text-white,.consult-hover-text-white:hover{
    color:#fff!important
}

.consult-text-black,.consult-hover-text-black:hover{
    color:#000!important
}

.consult-text-grey,.consult-hover-text-grey:hover,.consult-text-gray,.consult-hover-text-gray:hover{
    color:#757575!important
}

.consult-text-light-grey,.consult-hover-text-light-grey:hover,.consult-text-light-gray,.consult-hover-text-light-gray:hover{
    color:#f1f1f1!important
}

.consult-text-dark-grey,.consult-hover-text-dark-grey:hover,.consult-text-dark-gray,.consult-hover-text-dark-gray:hover{
    color:#3a3a3a!important
}

.consult-border-amber,.consult-hover-border-amber:hover{
    border-color:#ffc107!important
}

.consult-border-aqua,.consult-hover-border-aqua:hover{
    border-color:#00ffff!important
}

.consult-border-blue,.consult-hover-border-blue:hover{
    border-color:#2196F3!important
}

.consult-border-light-blue,.consult-hover-border-light-blue:hover{
    border-color:#87CEEB!important
}

.consult-border-brown,.consult-hover-border-brown:hover{
    border-color:#795548!important
}

.consult-border-cyan,.consult-hover-border-cyan:hover{
    border-color:#00bcd4!important
}

.consult-border-blue-grey,.consult-hover-border-blue-grey:hover,.consult-border-blue-gray,.consult-hover-border-blue-gray:hover{
    border-color:#607d8b!important
}

.consult-border-green,.consult-hover-border-green:hover{
    border-color:#4CAF50!important
}

.consult-border-light-green,.consult-hover-border-light-green:hover{
    border-color:#8bc34a!important
}

.consult-border-indigo,.consult-hover-border-indigo:hover{
    border-color:#3f51b5!important
}

.consult-border-khaki,.consult-hover-border-khaki:hover{
    border-color:#f0e68c!important
}

.consult-border-lime,.consult-hover-border-lime:hover{
    border-color:#cddc39!important
}

.consult-border-orange,.consult-hover-border-orange:hover{
    border-color:#ff9800!important
}

.consult-border-deep-orange,.consult-hover-border-deep-orange:hover{
    border-color:#ff5722!important
}

.consult-border-pink,.consult-hover-border-pink:hover{
    border-color:#e91e63!important
}

.consult-border-purple,.consult-hover-border-purple:hover{
    border-color:#9c27b0!important
}

.consult-border-deep-purple,.consult-hover-border-deep-purple:hover{
    border-color:#673ab7!important
}

.consult-border-red,.consult-hover-border-red:hover{
    border-color:#f44336!important
}

.consult-border-sand,.consult-hover-border-sand:hover{
    border-color:#fdf5e6!important
}

.consult-border-teal,.consult-hover-border-teal:hover{
    border-color:#009688!important
}

.consult-border-yellow,.consult-hover-border-yellow:hover{
    border-color:#ffeb3b!important
}

.consult-border-white,.consult-hover-border-white:hover{
    border-color:#fff!important
}

.consult-border-black,.consult-hover-border-black:hover{
    border-color:#000!important
}

.consult-border-grey,.consult-hover-border-grey:hover,.consult-border-gray,.consult-hover-border-gray:hover{
    border-color:#9e9e9e!important
}

.consult-border-light-grey,.consult-hover-border-light-grey:hover,.consult-border-light-gray,.consult-hover-border-light-gray:hover{
    border-color:#f1f1f1!important
}

.consult-border-dark-grey,.consult-hover-border-dark-grey:hover,.consult-border-dark-gray,.consult-hover-border-dark-gray:hover{
    border-color:#616161!important
}

.consult-border-pale-red,.consult-hover-border-pale-red:hover{
    border-color:#ffe7e7!important
}

.consult-border-pale-green,.consult-hover-border-pale-green:hover{
    border-color:#e7ffe7!important
}

.consult-border-pale-yellow,.consult-hover-border-pale-yellow:hover{
    border-color:#ffffcc!important
}

.consult-border-pale-blue,.consult-hover-border-pale-blue:hover{
    border-color:#e7ffff!important
}

