<!-- Footer -->
<footer class="consult-center consult-verde consult-padding-64">
  <a href="#home" class="consult-button consult-blue-aqua-st consult-round-xlarge"><i class="fa fa-arrow-up consult-margin-right"></i>Voltar para o Topo</a>
  <div class="consult-xlarge consult-section  consult-redes-blue-aqua ">
    <i class="fa-brands fa-facebook-official consult-hover-opacity "></i>
    <i class="fa-brands fa-instagram consult-hover-opacity  "></i>
    <i class="fa-brands fa-snapchat consult-hover-opacity  "></i>
    <i class="fa-brands fa-pinterest-p consult-hover-opacity  "></i>
    <i class="fa-brands fa-twitter consult-hover-opacity  "></i>
    <i class="fa-brands fa-linkedin consult-hover-opacity "></i>
  </div>
  <p>Criado por <a href="#" title="Grupo 01 PI" target="_blank" class="consult-hover-text-green">Grupo 01 PI</a></p>
</footer>