<!-- Navbar (sit on top) -->
<div class="consult-top">
  <div class="consult-bar consult-white consult-card" id="myNavbar">
    <a href="#home" class="consult-bar-item consult-button consult-wide">LOGO</a>
    <!-- Right-sided navbar links -->
    <div class="consult-right consult-hide-small">
      <a href="#quemsomos" class="consult-bar-item consult-button">Quem Somos</a>
      <a href="login-parceiro.html" class="consult-bar-item consult-button"><i class="fa fa-users"></i> Seja um Parceiro</a>
      <a href="servicos.html" class="consult-bar-item consult-button"><i class="fa fa-th"></i> Serviços</a>
      <a href="produtos.html" class="consult-bar-item consult-button"><i class="fa fa-bag-shopping"></i> Produtos</a>
      <a href="#contato" class="consult-bar-item consult-button"><i class="fa fa-envelope"></i> Contato</a>
      <a href="login-usuario.html" class="consult-bar-item consult-button"><i class="fa fa-user"></i> Login</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="consult-bar-item consult-button consult-right consult-hide-large consult-hide-medium" onclick="consult_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="consult-sidebar consult-bar-block consult-verde consult-card consult-animate-left consult-hide-medium consult-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="consult_close()" class="consult-bar-item consult-button consult-large consult-padding-16">Fechar ×</a>
  <a href="#quemsomos" onclick="consult_close()" class="consult-bar-item consult-button">Quem Somos</a>
  <a href="login-parceiro.html" onclick="consult_close()" class="consult-bar-item consult-button">Seja um Parceiro</a>
  <a href="servicos.html" onclick="consult_close()" class="consult-bar-item consult-button">Serviços</a>
  <a href="produtos.html" onclick="consult_close()" class="consult-bar-item consult-button">Produtos</a>
  <a href="#contato" onclick="consult_close()" class="consult-bar-item consult-button">Contato</a>
  <a href="login-usuario.html" onclick="consult_close()" class="consult-bar-item consult-button">Login</a>
</nav>