<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/addProducts.js" defer></script>
  <link rel="stylesheet" href="css/addProducts.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <title>Adicionar produtos</title>
</head>

<body>

  <header>
    <h1>lOJA PI</h1>
  </header>

  <main>


    <div class="title">
      <h2>Produtos</h2>
      <span>Lista de produtos da minha loja.</span>
    </div>

    <div class="card">

      <div class="lineInput">

        <label>Produto</label>
        <input type="text" id='produto' placeholder="Nome do produto">

      </div>

      <div class="lineInput">

        <label>Valor</label>
        <input type="text" id='valor' placeholder='Valor do produto'>

      </div>

      <div class="lineInput">

        <label>Descrição</label>
        <textarea id="Descrição" cols="30" rows="10"></textarea placeholder='Descrisção do produto'>
    
      </div>




     


      <button onclick="produto.salvar()">Salvar</button>
      <button onclick="produto.cancelar()">Deletar</button>
    </div>


    
    <div class="content">
      <table border="1">
        <thead>
          <th class="center">ID</th>
          <th >NOME</th>
          <th>VALOR</th>
          <th class="center">Ações</th>
        </thead>


        <tbody id="tbody">
        </tbody>



      </table>

    </div>




  </main>
</body>

</html>
</main>