<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="css/login-usuario.css">
    <script src="js/login-usuario.js"  defer type="text/javascript"></script>
</head>
<body>
    <main class="container">
        <section class="text-primario">

                <p id="logo">LOGO</p>

            <h1 id="text-bem-vindo">Bem vindo(a) de volta</h1>
            <p id="text-subtitulo">Acesse sua conta agora mesmo</p>

           

            <form class="organizar" method="post" action="/login">
                <div class="Igmail-login">
                    <label for="gmail-login">
                        <span class="material-symbols-outlined">
                            contact_mail
                        </span>
                    </label>
                    <input type="email" id="gmail-login" placeholder="  E-mail" required>
                </div>

                <div class="Isenha-login">
                    <label for="senha-login"><span class="material-symbols-outlined">
                            password
                        </span></label>
                    <input type="password" id="senha-login"   placeholder="  Senha" required>
                </div>

                <a href="panelPatient">
                    <input id="Ientra-login" type="submit" value="ENTRAR">
                </a>
                <p id="recuperar"><a href="">Esqueci minha senha</a></p>
                
            </form>


        </section>

        <section class="cadrastro">
            <h1>Criar uma conta</h1>
            <p class="cadastroP">Preencha seus dados</p>
            

            <div class="organizar-cadastro">
            <form id="cadastroUsuario" action="/salvarcadastro" method="post">

                <div class="Inome-cadrastro">
                    <label for="nome"><span class="material-symbols-outlined">
                        person
                        </span></label>
                        <input type="text" name="nome" id="nome" autocomplete="off" placeholder="Nome" required>
                </div>

                <div class="Igmail-cadrastro">
                    <label for="gmail-cadrastro"> <span class="material-symbols-outlined">
                        contact_mail</label>
                        <input type="email" name="email" id="gmail-cadrastro" autocomplete="off" placeholder="E-mail" required onclick="erro()">
                </div>

                <div class="Isenha-cadrastro">
                    <label for="senha-cadrastro"><span class="material-symbols-outlined">
                            password
                        </span></label>
                    <input type="password" name="senha" id="senha-cadrastro"   placeholder="Senha" required>
                </div>
                <div class="Isenha-cadrastro">
                    <label for="senha-cadrastro"><span class="material-symbols-outlined">
                            password
                        </span></label>
                    <input type="password" name="confisenha" id="confisenha"   placeholder="Confirmar Senha" required>
                </div>

                <input type="submit" id="Ientra-cadrastro" value="Cadastrar">
            </div>
            </form>
        </section>
    </main>
</body>

</html>