<!DOCTYPE html>
<html>
<head>
<title>Grupo 01 PI</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/panelPatient.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
<script src="js/main.js"  defer type="text/javascript"></script>
</head>

<body>
    <%- include('./partials/navbar') %>
<div id="home"></div>
    <header>
        <div class="space-advertising">
            <a href="#">ESPAÇO PARA PROPAGANDA TERCEIROS</a>
        </div>
    </header> 
    
    <section id="container-general">

        <div class="container1">

            <div class="menu-sup">
                
                <div><img src="./images/icone-parceiro.png" class="img-parc"></div>
               
                <div class="sup-item"><a href="#"> Nome  </a></div>
               
                <div class="sup-item"><a href="#"> ID parceiro </a></div>
                
                <div class="sup-item"><a href="#"> Platinum </a></div>
            </div>

            <div class="menu-inf">
                
                <div class="perfil">
                    <div><img src="./images/icone-formulario.png"></div>
                    
                    <div><a href="#">Perfil</a></div>
                </div>
                <br>
                <div class="planos">
                    <div><img src="./images/estrela.png"></div>
                
                    <div><a href="#">Meus Planos</a></div>
                </div>
                <br>
              
                <div class="chat">
                    <div><img src="./images/icone-chat.png"></div>
                    
                    <div><a href="#">Chat</a></div>
                </div>
            </div>

        </div> 

        <div class="container2">
            <div class="container-color">
                <div class="bloc-search">
                    <form action="#" method="post">
                        <input type="text" name="search" id="search" placeholder="O que você precisa hoje?" required>

                        <button type="submit"><i class="lupa"><img src="./images/icone-lupa.png" ></i></button> <!--Colocar icone de lupa--->
                    </form>
                </div>

                <div class="container-consult">  
                    <div id="consult-panel">Histórico de consultas</div>
        
                    <div class="container-hist">
                        <div class="consult-hist"><a href="#">Data última <br> consulta</a></div>

                        <div class="consult-hist"><a href="#">Data próxima <br> consulta</a></div>
                    </div> 
                </div>    
            </div>
            <div class="container-consult-inf">
                <div class="bloc">

                    <div class="atend">
                        <div class="spn-img"> Imagem / Icone </div>
                        <h5>Atendimento</h5>
                        <p><button>Acessar</button></p>
                    </div> 

                    <br>

                    <div class="guia">
                        <div class="spn-img"> Imagem / Icone </div>
                        <h5>Guia / Receita</h5>
                        <p><button>Acessar</button></p>
                    </div>
                </div>

                <div class="bloc">

                    <div class="atend">
                        <div class="spn-img"> Imagem / Icone </div>
                        <h5>Atendimento</h5>
                        <p><button>Acessar</button></p>
                    </div> 

                    <br>

                    <div class="guia">
                        <div class="spn-img"> Imagem / Icone </div>
                        <h5>Guia / Receita</h5>
                        <p><button>Acessar</button></p>
                    </div>
            
                </div>
            </div>
        </div>
        <div class="container3">
            <div class="container-publi">
                <div class="publi-item">
                    <h3>Ofertas do dia <br> produtos</h3>
                </div>
                <div class="publi-item">
                    <h3>Ofertas do dia <br> parceiros</h3>
                </div>
            </div>


            <div class="container-publi-inf">
                <div class="bloc">

                    <div class="atend">
                        <div class="spn-img"> Imagem / Icone </div>
                        <h5>Atendimento</h5>
                        <p><button>Acessar</button></p>
                    </div> 

                    <br>

                    <div class="guia">
                        <div class="spn-img"> Imagem / Icone </div>
                        <h5>Guia / Receita</h5>
                        <p><button>Acessar</button></p>
                    </div>
            
                </div>

                <div class="bloc">

                    <div class="atend">
                        <div class="spn-img"> Imagem / Icone </div>
                        <h5>Atendimento</h5>
                        <p><button>Acessar</button></p>
                    </div> 

                    <br>

                    <div class="guia">
                        <div class="spn-img"> Imagem / Icone </div>
                        <h5>Guia / Receita</h5>
                        <p><button>Acessar</button></p>
                    </div>
        
            </div>

        </div>
            
    </section>
     
<%- include('./partials/footer') %>
</body>
</html>