<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/servicos.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <script src="js/main.js"  defer type="text/javascript"></script>
    <script src="js/slider.js" defer type="text/javascript"></script>
</head>
<body>

    <%- include('./partials/navbar') %>
    <!--conteudo principal-->
    <div id="home"></div>
    <section id="parceiro-destaque">

        <!-- conteudo pareiros em destaque -->
        
        <h1 id="titulo-produto">SEJAM MUITO BEM VINDOS!</h1>
        <div id="fotos-produto">
            <div class="slider">
                <div class="slides">
                    <!-- radios -->
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <!-- fim radio -->
                    <div class="slide first" id="img1"></div>
                    <div class="slide " id="img2"></div>
                    <div class="slide " id="img3"></div>
        
                  
                </div>
        
                <div class="manual-navgation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                </div>
                
            </div>
        
        </div>
    </section>

    <!--  Section "Estatísticas" -->
    <div class=" consult-azul-aqua-md ">
        <div class="consult-container container consult-row consult-center consult-padding-64">
            <div class="consult-quarter">
                <span class="consult-xxlarge">+de 1500</span>
                <br>Parceiros
            </div>
            <div class="consult-quarter">
                <span class="consult-xxlarge">99%</span>
                <br>Pessoas atendidas em menos de 24 horas
            </div>
            <div class="consult-quarter">
                <span class="consult-xxlarge">27</span>
                <br>Presente em todos os Estados Brasileiros
            </div>
            <div class="consult-quarter">
                <span class="consult-xxlarge">+100.000</span>
                <br>Usuários
            </div>
        </div>
    </div>
    <!-- imgs de serviços -->
    <section id="serviço-destaque">
        <h1 id="titulo-serviço">O que você precisa hoje?</h1>
        <p id="subtitulo-serviço">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>
            tempor incididunt ut labore et dolore.</p>
        <div id="local-serviços">
            <div class="org1">
                <div id="nutricionista"></div>

                <div id="clinico-geral"></div>

                <div id="Ortopedista"></div>

                <div id="veterinario"></div>
            </div>
            <div class="org1">

                <div id="yoga"></div>

                <div id="cardiologista"></div>

                <div id="ginecologista" ></div>
                <div id="dermatologista"></div>
            </div>
        </div>
    </section>
    <section id="nosso-parceiros">
        <h1>CONFIRA TODOS NOSSOS PARCEIROS</h1>
        <p>SUBTITULO TEXTO COMPLEMENTAR XPTO</p>

        <div id="local-proficional">
            <div id="local-org1">



                <div class="prof">
                    <div class="back-image" id="cardiologista">
                       
                    </div>
                    <div class="dados">
                        <p class="name">Alisson Marques</p>
                        <p class="cargo">Cardiologista</p>
                        <p class="descrição">Olá eu sou Alisson formado a 15 anos em cardiologia trabalhei nas melhores clínicas do Brasil e Trabalhos com atletas de Alto nivel... <br> Venha marque sua consuta comigo </p>
                        <input type="button" id="buttomW" value="CONSULTE AGORA MESMO" font-size='12px'>
                    </div>
                </div>


                <div class="prof">
                    <div class="back-image" id="nutricionista">
                       
                    </div>
                    <div class="dados">
                        <p class="name">Paulo Souza</p>
                        <p class="cargo">Nutricionista</p>
                        <p class="descrição">
                            Olá meu nome é Paulo Souza formado em nutrição á 7 anos recomendados e procurado por atletas de auta performace... <br>
                            Venha marque sua consuta comigo e viva mais saldavel 
                        </p>
                        <input type="button" id="buttomX" value="CONSULTE AGORA MESMO">
                    </div>
                </div>


                <div class="prof">
                    <div class="back-image" id="clinico-geral">
 
                    </div>
                    <div class="dados">
                        <p class="name">Lays Sampaio</p>
                        <p class="cargo">Clinico geral</p>
                        <p class="descrição">Olá meu nome é lays sou medica de Clinica geral com 6 anos de trabalho... <br> Venha fazer um check-up e se matenha  saudável  </p>
                        <input type="button" id="buttomY" value="CONSULTE AGORA MESMO">
                    </div>
                </div>


                <div class="prof">
                    <div class="back-image" id="veterinario">
                    
                    </div>
                    <div class="dados">
                        <p class="name">Gildalia Sampaio</p>
                        <p class="cargo">Veterinário</p>
                        <p class="descrição">Olá meu nome é Gildalia Sampaio sou Veterinária
                            ah 5 anos... <br>Venha fazer um check-up no seu melhor amigo , não deixe de cuidar do animal  </p>
                        <input type="button" id="buttomZ" value="CONSULTE AGORA MESMO">
                    </div>
                </div>




            </div>
            <div id="local-org1">



                <div class="prof">
                    <div class="back-image" id="cardiologista">
                       
                    </div>
                    <div class="dados">
                        <p class="name">Alisson Marques</p>
                        <p class="cargo">Cardiologista</p>
                        <p class="descrição">Olá eu sou Alisson formado a 15 anos em cardiologia trabalhei nas melhores clínicas do Brasil e Trabalhos com atletas de Alto nivel... <br> Venha marque sua consuta comigo </p>
                        <input type="button" id="buttomW" value="CONSULTE AGORA MESMO" font-size='12px'>
                    </div>
                </div>


                <div class="prof">
                    <div class="back-image" id="nutricionista">
                       
                    </div>
                    <div class="dados">
                        <p class="name">Paulo Souza</p>
                        <p class="cargo">Nutricionista</p>
                        <p class="descrição">
                            Olá meu nome é Paulo Souza formado em nutrição á 7 anos recomendados e procurado por atletas de auta performace... <br>
                            Venha marque sua consuta comigo e viva mais saldavel 
                        </p>
                        <input type="button" id="buttomX" value="CONSULTE AGORA MESMO">
                    </div>
                </div>


                <div class="prof">
                    <div class="back-image" id="clinico-geral">
 
                    </div>
                    <div class="dados">
                        <p class="name">Lays Sampaio</p>
                        <p class="cargo">Clinico geral</p>
                        <p class="descrição">Olá meu nome é lays sou medica de Clinica geral com 6 anos de trabalho... <br> Venha fazer um check-up e se matenha  saudável  </p>
                        <input type="button" id="buttomY" value="CONSULTE AGORA MESMO">
                    </div>
                </div>


                <div class="prof">
                    <div class="back-image" id="veterinario">
                    
                    </div>
                    <div class="dados">
                        <p class="name">Gildalia Sampaio</p>
                        <p class="cargo">Veterinário</p>
                        <p class="descrição">Olá meu nome é Gildalia Sampaio sou Veterinária
                            ah 5 anos... <br>Venha fazer um check-up no seu melhor amigo , não deixe de cuidar do animal  </p>
                        <input type="button" id="buttomZ" value="CONSULTE AGORA MESMO">
                    </div>
                </div>




            </div>
            <div id="local-org1">



                <div class="prof">
                    <div class="back-image" id="cardiologista">
                       
                    </div>
                    <div class="dados">
                        <p class="name">Alisson Marques</p>
                        <p class="cargo">Cardiologista</p>
                        <p class="descrição">Olá eu sou Alisson formado a 15 anos em cardiologia trabalhei nas melhores clínicas do Brasil e Trabalhos com atletas de Alto nivel... <br> Venha marque sua consuta comigo </p>
                        <input type="button" id="buttomW" value="CONSULTE AGORA MESMO" font-size='12px'>
                    </div>
                </div>


                <div class="prof">
                    <div class="back-image" id="nutricionista">
                       
                    </div>
                    <div class="dados">
                        <p class="name">Paulo Souza</p>
                        <p class="cargo">Nutricionista</p>
                        <p class="descrição">
                            Olá meu nome é Paulo Souza formado em nutrição á 7 anos recomendados e procurado por atletas de auta performace... <br>
                            Venha marque sua consuta comigo e viva mais saldavel 
                        </p>
                        <input type="button" id="buttomX" value="CONSULTE AGORA MESMO">
                    </div>
                </div>


                <div class="prof">
                    <div class="back-image" id="clinico-geral">
 
                    </div>
                    <div class="dados">
                        <p class="name">Lays Sampaio</p>
                        <p class="cargo">Clinico geral</p>
                        <p class="descrição">Olá meu nome é lays sou medica de Clinica geral com 6 anos de trabalho... <br> Venha fazer um check-up e se matenha  saudável  </p>
                        <input type="button" id="buttomY" value="CONSULTE AGORA MESMO">
                    </div>
                </div>


                <div class="prof">
                    <div class="back-image" id="veterinario">
                    
                    </div>
                    <div class="dados">
                        <p class="name">Gildalia Sampaio</p>
                        <p class="cargo">Veterinário</p>
                        <p class="descrição">Olá meu nome é Gildalia Sampaio sou Veterinária
                            ah 5 anos... <br>Venha fazer um check-up no seu melhor amigo , não deixe de cuidar do animal  </p>
                        <input type="button" id="buttomZ" value="CONSULTE AGORA MESMO">
                    </div>
                </div>




            </div>
            <div id="local-org1">


                <div class="prof">
                    <div class="back-image" id="cardiologista">
                       
                    </div>
                    <div class="dados">
                        <p class="name">Alisson Marques</p>
                        <p class="cargo">Cardiologista</p>
                        <p class="descrição">Olá eu sou Alisson formado a 15 anos em cardiologia trabalhei nas melhores clínicas do Brasil e Trabalhos com atletas de Alto nivel... <br> Venha marque sua consuta comigo </p>
                        <input type="button" id="buttomW" value="CONSULTE AGORA MESMO" font-size='12px'>
                    </div>
                </div>


                <div class="prof">
                    <div class="back-image" id="nutricionista">
                       
                    </div>
                    <div class="dados">
                        <p class="name">Paulo Souza</p>
                        <p class="cargo">Nutricionista</p>
                        <p class="descrição">
                            Olá meu nome é Paulo Souza formado em nutrição á 7 anos recomendados e procurado por atletas de auta performace... <br>
                            Venha marque sua consuta comigo e viva mais saldavel 
                        </p>
                        <input type="button" id="buttomX" value="CONSULTE AGORA MESMO">
                    </div>
                </div>


                <div class="prof">
                    <div class="back-image" id="clinico-geral">
 
                    </div>
                    <div class="dados">
                        <p class="name">Lays Sampaio</p>
                        <p class="cargo">Clinico geral</p>
                        <p class="descrição">Olá meu nome é lays sou medica de Clinica geral com 6 anos de trabalho... <br> Venha fazer um check-up e se matenha  saudável  </p>
                        <input type="button" id="buttomY" value="CONSULTE AGORA MESMO">
                    </div>
                </div>


                <div class="prof">
                    <div class="back-image" id="veterinario">
                    
                    </div>
                    <div class="dados">
                        <p class="name">Gildalia Sampaio</p>
                        <p class="cargo">Veterinário</p>
                        <p class="descrição">Olá meu nome é Gildalia Sampaio sou Veterinária
                            ah 5 anos... <br>Venha fazer um check-up no seu melhor amigo , não deixe de cuidar do animal  </p>
                        <input type="button" id="buttomZ" value="CONSULTE AGORA MESMO">
                    </div>
                </div>




            </div>
            <div id="local-org1">



                <div class="prof">
                    <div class="back-image" id="cardiologista">
                       
                    </div>
                    <div class="dados">
                        <p class="name">Alisson Marques</p>
                        <p class="cargo">Cardiologista</p>
                        <p class="descrição">Olá eu sou Alisson formado a 15 anos em cardiologia trabalhei nas melhores clínicas do Brasil e Trabalhos com atletas de Alto nivel... <br> Venha marque sua consuta comigo </p>
                        <input type="button" id="buttomW" value="CONSULTE AGORA MESMO" font-size='12px'>
                    </div>
                </div>


                <div class="prof">
                    <div class="back-image" id="nutricionista">
                       
                    </div>
                    <div class="dados">
                        <p class="name">Paulo Souza</p>
                        <p class="cargo">Nutricionista</p>
                        <p class="descrição">
                            Olá meu nome é Paulo Souza formado em nutrição á 7 anos recomendados e procurado por atletas de auta performace... <br>
                            Venha marque sua consuta comigo e viva mais saldavel 
                        </p>
                        <input type="button" id="buttomX" value="CONSULTE AGORA MESMO">
                    </div>
                </div>


                <div class="prof">
                    <div class="back-image" id="clinico-geral">
 
                    </div>
                    <div class="dados">
                        <p class="name">Lays Sampaio</p>
                        <p class="cargo">Clinico geral</p>
                        <p class="descrição">Olá meu nome é lays sou medica de Clinica geral com 6 anos de trabalho... <br> Venha fazer um check-up e se matenha  saudável  </p>
                        <input type="button" id="buttomY" value="CONSULTE AGORA MESMO">
                    </div>
                </div>


                <div class="prof">
                    <div class="back-image" id="veterinario">
                    
                    </div>
                    <div class="dados">
                        <p class="name">Gildalia Sampaio</p>
                        <p class="cargo">Veterinário</p>
                        <p class="descrição">Olá meu nome é Gildalia Sampaio sou Veterinária
                            ah 5 anos... <br>Venha fazer um check-up no seu melhor amigo , não deixe de cuidar do animal  </p>
                        <input type="button" id="buttomZ" value="CONSULTE AGORA MESMO">
                    </div>
                </div>




            </div>
        </div>
    </section>
    <!--  Section "Estatísticas" -->
    <div class=" consult-azul-aqua-md ">
        <div class="consult-container container consult-row consult-center consult-padding-64">
            <div class="consult-quarter">
                <span class="consult-xxlarge">+de 1500</span>
                <br>Parceiros
            </div>
            <div class="consult-quarter">
                <span class="consult-xxlarge">99%</span>
                <br>Pessoas atendidas em menos de 24 horas
            </div>
            <div class="consult-quarter">
                <span class="consult-xxlarge">27</span>
                <br>Presente em todos os Estados Brasileiros
            </div>
            <div class="consult-quarter">
                <span class="consult-xxlarge">+100.000</span>
                <br>Usuários
            </div>
        </div>
    </div>
    <%- include('./partials/contato') %>

    <%- include('./partials/footer') %>
</body>

</html>